.reading-text {
    width: 340px;
    height: 70px;
    font-size: 35px;
    border: black 1px solid;
    text-align: center;
    padding-top: 7px;
    font-weight: bold;
    background-color: black;
    opacity: 50;
    color: white;
}

.text-speed {
    width: 100px !important;
}

.red-letter {
    color: red;
}
